@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
}

body {
  // background: #333333;
  font-family: 'Roboto';

  a {
    text-decoration: none;
  }
}

header {
  display: inline;

  ul {
    display: flex;
    text-decoration: none;
    list-style: none;
  }

  ul li {
    padding: 0 0.75rem;
  }

  ul li:hover {
    color: $primary-color;
  } 

  a:hover{
    color: $primary-color;
  }
}

p {
  color: rgb(148, 148, 148);
}

.hdr-top {
  display: flex;
  background: #333333;
  color: $light-color;
  padding: .25rem 0.75rem;
  justify-content: space-between;

  .fab {
    color: $light-color;
  }

  a{
    color: $light-color;
    text-decoration: none;
    padding: 0 0.2rem;
  }

  ul li {
    padding: 0 0.3rem;
  }
}

.hdr {
  display: flex;
  background: $light-color;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: large;

  a{
    color: #333333;
    padding: 0 0.7rem;
  }
}

.item{
  margin: 0 0.75rem;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  margin: 1rem 0;

  .col{
    padding: 0;
  }

  // .item{
  //   margin: 0 1rem;
  // }

  .text {
    margin: 1rem;
    text-align: center;
    color: black;
    p {
      padding: .5rem;
      font-size: small;
      // color: rgb(148, 148, 148);
    }
  }

  .img{
    overflow: hidden;
  }

  img:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
  }
}

// categories
.categories{
  margin: 1rem;

  .category {
    display: flex;
    padding: 1rem;
    justify-content: center;
  }

  h2{
    margin: 2rem;
    justify-content: center;
    text-align: center;
  }

  a {
    display: flex;
    flex-direction: column;
    color: rgb(148, 148, 148);
  }

  a:hover {
    color: $primary-color;
    
    h5 {
      background-color: $primary-color;
      border-radius: 5px;
    }
  }

  .row {
    display: flex;
    margin: 1rem 0;
  }

  .img{
    overflow: hidden;
  }

  img:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
  }

  .product-desc {
    align-content: center;
    text-align: center;
  }

  h4 {
    font-weight: lighter;
    color: black;
    padding: 0.5rem;
  }

  p {
    font-size: small;
    padding: 0.25rem;
  }

  h5 {
    color: black;
    padding: 0.5rem;
  }
}

.banner{ 
  height: 480px;
  overflow: hidden;
}

.img-banner:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

// brands logo
.brands {
  display: flex;
  margin: 3rem 1rem;
}

.brand-logo {
  width: 10rem;
  flex: 1;
  opacity: 0.5;
}

.brand-logo:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.sale {
  text-align: center;

   p {
    padding: 1rem;
   }
}



// slider
.mySlides {display: none}
img {vertical-align: middle;}

.img-slider {
  height: 420px;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $primary-color;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.75s;
  animation-name: fade;
  animation-duration: 0.75s; 
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}